#gallery {
  display: inline-flex;
  list-style: none;

  display: flex;
  justify-content: center;
}

.gallery-image {
  margin-left: 20px;
  width: 220px;
  height: 150px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
